@import url('https://fonts.googleapis.com/css?family=Inter');

.xMargin {
    margin-left: 20px;
    margin-right: 20px;
}

.maxWidth {
    max-width: 100px;
}

.speaker-info {
    flex-direction: row !important;
    padding: 5px 0;
}

.euiImage__img{
    max-width:1200px;
}